<div class="header-style flex" style="justify-content: space-between">
  <div style="width: 250px">
    <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-rounded p-button-outlined p-button-secondary"
            (click)="toggleSideMenu()"></button>
  </div>
  <div class="flex">
    <img src="assets/images/icons8-fotostapel-96.png" height="36" alt="" class="rotateImage">
    <h1 class="header-title appTitle">Photo App</h1>
  </div>
  <div class="userName">
    <button id="userAccountName" pButton pRipple type="button" label="{{userName}}" icon="pi pi-user"
            class="p-button-rounded p-button-secondary p-button-outlined"></button>
  </div>
</div>


<p-sidebar [(visible)]="displaySidebar" class=menu-Sidebar>


  <div class="mainMenu">
    <div class="grid">
      <div class="col-12">
        <h2 class="menuTitle">
          Main Menu
        </h2>
      </div>
      <div class="col-12">
        <p-divider>Photos</p-divider>
      </div>
      <div class="col-offset-1 col-10">
        <p-panelMenu [model]="menuElements" [style]="{'width':'100%'}">

        </p-panelMenu>
      </div>
    </div>
  </div>

  <div class="spacer">

  </div>

  <div>
    <p-divider>Settings</p-divider>
  </div>
  <div class="grid">
    <div class="col-offset-1 col-11">
      <button pButton pRipple type="button" label="Settings" icon="pi pi-cog"
              class="p-button-outlined p-button-rounded p-button-secondary"
              routerLink="/settings" >
      </button>
    </div>
    <div class="col-offset-1 col-11">
      <button pButton pRipple type="button" label="Sign Out" icon="pi pi-user"
              class="p-button-outlined p-button-rounded p-button-secondary"
              (click)="signOut()">
      </button>
    </div>

  </div>

</p-sidebar>


<router-outlet></router-outlet>
