
.appTitle
  padding-left: 10px
  font-style: normal
  font-family: Garamond

.rotateImage
  -webkit-transform: rotate(-10deg)
  -moz-transform: rotate(-10deg)
  -o-transform: rotate(-10deg)
  -ms-transform: rotate(-10deg)
  transform: rotate(-10deg)

.header-style
  background: #e9e9e9
  border-radius: 30px
  padding: 5px
  box-shadow: 7px 4px 5px lightgrey

.titleDiv
  width: 200px
  display: flex
  justify-content: center

.header-title
  margin: 0px

.userName
  width: 250px
  display: flex
  flex-direction: row-reverse


.menuTitle
  margin: 0px
  padding: 0px

.mainMenu
  display: flex
  flex-direction: column


.spacer
  height: 45vh
