.PhotosEditMenu
  margin: 20px 10px
  border-radius: 5px
  background-color: #e9e9e9
  box-shadow: 7px 4px 5px lightgrey

.ImagesPerDay
  margin: 10px
  padding: 10px
  border-radius: 15px
  background-image: linear-gradient(45deg, #F0F0F0 0%, #DCDCDC 50%, #F0F0F0 100%)
  box-shadow: 7px 4px 5px lightgrey

.SingleImage
  padding: 3px


.SingleImageCheckbox
  padding: 0px 0px 3px 0px
  color: #666666

.photoMember
  display: flex
  flex-wrap: wrap

.ImageView
  margin-left: 10%
  margin-right: auto

.ImageChip
  margin-bottom: 2px
