<div class="grid PhotosEditMenu">

  <div class="col-3">
    <p-selectButton [options]="stateOptions" [(ngModel)]="currentViewOption" ngDefaultControl optionLabel="label"
                    optionValue="value"></p-selectButton>
  </div>
  <div class="col-9 md:col-offset-1 md:col-8 lg:col-offset-2 lg:col-7 xl:col-offset-4 xl:col-5"
       *ngIf="currentViewOption=='edit'">
    <div class="flex justify-content-between">
      <p-dropdown placeholder="Select a Friend" [options]="users" [(ngModel)]="selectedUser"
                  optionLabel="name"></p-dropdown>
      <p-dropdown placeholder="Select a Group" [options]="groups" [(ngModel)]="selectedGroup"
                  optionLabel="name"></p-dropdown>
      <button pButton pRipple type="button" icon="pi pi-share-alt" label="Share Photos"
              class="p-button-outlined p-button-secondary" (click)="shareImagesWithFriends()" ></button>
    </div>
  </div>

</div>

<div class="grid ImagesPerDay" *ngFor="let photosPerDay of photos; let dayIndex = index">
  <div class="col-12">
    {{photosPerDay.date}}
  </div>
  <div class="SingleImage col-6 md:col-5 lg:col-4 xl:col-3" *ngFor="let image of photosPerDay.imageList; let imageIndex = index">
    <div class="col-offset-9 col-3 SingleImageCheckbox" *ngIf="currentViewOption=='edit'">
      <p-inputSwitch label="share Photo"
                     (click)="updatePhotoToSharedArray(image.name, dayIndex, imageIndex)"></p-inputSwitch>
    </div>
    <div class="ImageView">
      <p-image [src]="image.url" alt="Image" width="260" [preview]="true" (click)="replacePreviewWithOriginalUrl(dayIndex, imageIndex)">
        <ng-template pTemplate="indicator">
          <i class="pi pi-eye"></i>
        </ng-template>
      </p-image>
    </div>
    <div class="flex flex-wrap justify-content-center" *ngIf="currentViewOption=='edit'">
      <ng-container *ngFor="let member of image.sharedUser; index as i">
        <p-chip [label]="member.name" icon="pi pi-user" [removable]="true" class="ImageChip"
                (click)="unshareImagesWithFriends(member, image)"></p-chip>
      </ng-container>
      <ng-container *ngFor="let member of image.sharedGroups; index as i">
        <p-chip [label]="member.name" icon="pi pi-users" [removable]="true" class="ImageChip"></p-chip>
      </ng-container>
    </div>
  </div>
</div>
