<div class="grid userTilesList">
  <p-toast position="bottom-right"></p-toast>

  <div class="col-12 lg:col-6">
    <div class="Background-Box" data-cy="Settings_Friend_List">
      <div class=grid>
        <div class="col-offset-3 col-6">
          <h3 class="userListTitle">Friends List</h3>
        </div>
      </div>

      <div class="grid userListEntry" *ngFor="let user of userList; let i = index" data-cy="Settings_Friend_List_Entry">

        <div class="col-offset-1 col-5 eliminateSpaceInnerDiv">
          {{user.userName}}
        </div>
        <div class="col-5 eliminateSpaceInnerDiv">
          {{user.userEMail}}
        </div>
        <div class="col-1 eliminateSpaceInnerDiv">
          <i class="pi pi-times-circle" (click)="removeUserFromList(i)"></i>
        </div>

      </div>

      <div class="grid inputDiv">
        <div class="col-12">
          <div class="flex addUserDiv">
        <span class="p-float-label p-inputtext-sm">
          <input [(ngModel)]="newUserAccount" id="AddUserAccountName" type="text" pInputText>
          <label for="AddUserAccountName">User Account Name</label>
        </span>
            <button pButton pRipple type="button" label="Add User" icon="pi pi-user-plus"
                    class="p-button-outlined p-button-rounded p-button-secondary p-button-sm buttonSpacer"
                    (click)="addUserToList()">
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-12 lg:col-6">
    <div class="Background-Box" data-cy="Settings_Group_List">

      <div class=grid>
        <div class="col-offset-3 col-6">
          <h3 id="groupListTitle" class="userListTitle">Groups List</h3>
        </div>
      </div>

      <div class="grid userListEntry" *ngFor="let group of groupList; let groupIndex = index" data-cy="Settings_Group_List_Entry">

        <div class="col-5 eliminateSpaceInnerDiv">
          <i> ID : </i> {{ group.groupId}}
        </div>
        <div class="col-6 eliminateSpaceInnerDiv">
          {{group.groupName}}
        </div>
        <div class="col-1 eliminateSpaceInnerDiv">
          <div class="flex groupItemIcons">
            <i id="editGroupButton" class="pi pi-pencil" (click)="group.inEditMode = !group.inEditMode"></i>
            <i class="pi pi-times-circle" (click)="removeGroupFromList(group, groupIndex)"></i>
          </div>
        </div>

        <div class="col-12 eliminateSpaceOuterDiv">
          <div class="flex">

            <div class="flex flex-wrap" style="margin-right: 10px"
                 *ngFor="let groupMember of group.groupMember; let groupMemberIndex = index">
              <p-chip label="{{groupMember.userName}}" icon="pi pi-user" styleClass="p-mr-2 custom-chip"
                      [removable]="true" (click)="removeGroupMember(group, groupMember, groupIndex, groupMemberIndex)"></p-chip>
            </div>

          </div>
        </div>


        <div class="col-12" *ngIf="group.inEditMode">
          <div class="flex AddGroupMember" [id]="'span' + groupIndex">
            <span class="p-float-label p-inputtext-sm">
              <input [(ngModel)]="newGroupMember" id="float-input-GroupMember" type="text" pInputText>
              <label for="float-input-GroupMember">New Group Member</label>
            </span>
            <button [id]="'addGroupMember' + groupIndex + 'Button' " pButton pRipple type="button" label="Add Group Member"
                    icon="pi pi-user-plus"
                    class="p-button-outlined p-button-rounded p-button-secondary p-button-sm buttonSpacer"
                    (click)="addGroupMemberToGroup(group, groupIndex)">
            </button>
          </div>
        </div>

      </div>

      <div class="grid inputDiv">
        <div class="col-12">
          <div class="flex addGroupMemberDiv">
        <span class="p-float-label p-inputtext-sm">
          <input [(ngModel)]="newGroup" id="float-input-Groupname" type="text" pInputText>
          <label for="float-input-Groupname">New Group Name</label>
        </span>

            <button id="addGroupButton" pButton pRipple type="button" label="Add new Group" icon="pi pi-users"
                    class="p-button-outlined p-button-rounded p-button-secondary p-button-sm buttonSpacer"
                    (click)="addGroupToList()">
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
