
.userTilesList
  margin: 20px 10px

.userListTitle
  text-align: center
  margin: 10px 0px

.userListEntry
  margin: 5px
  padding: 8px
  border-radius: 10px
  background-color: #f0f0f0

.Background-Box
  background: #e9e9e9
  border-radius: 15px
  padding: 5px
  box-shadow: 5px 4px 5px lightgrey


.eliminateSpaceInnerDiv
  margin: 0px 0px 5px 0px
  padding: 0px
  color: #a8a8a8

.eliminateSpaceOuterDiv
  margin: 0px
  padding: 0px

.inputDiv
  margin-top: 25px

\:host ::ng-deep .p-chip.custom-chip
  background: white
  color: #aeaeae

.groupItemIcons
  justify-content: space-evenly

.AddGroupMember
  margin-top: 20px
  justify-content: center

.buttonSpacer
  margin-left: 15px

.addUserDiv
  justify-content: center

.addGroupMemberDiv
  justify-content: center


